.team {
  position: relative;
  padding: 124px 0 0 182px;
  box-sizing: border-box;

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 0;
  }

  &__wrap {
    align-self: flex-end;
  }
}

@media all and (max-width: 1919px) {
  .team {
    padding: 104px 0 0 155px;

    &__content {
      margin-top: 50px;
    }
  }
}

@media all and (max-width: 1536px) {
  .team {
    padding: 85px 0 0 120px;

    &__content {
      margin-top: 38px;
    }
  }
}

@media all and (max-width: 1200px) {
  .team {
    padding: 68px 0 0 73px;

    &__content {
      margin-top: 36px;
    }

    &__wrap {
      width: 38%;
    }
  }
}

@media all and (max-width: 1000px) {
  .team {
    padding-right: 35px;

    &__wrap {
      width: 57%;
    }
  }
}

@media all and (max-width: 750px) {
  .team {
    padding: 72px 19px 0;

    &__content {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__wrap {
      align-self: center;
      width: 100%;
      margin-top: 28px;
    }
  }
}

@media all and (max-width: 425px) {
  .team {

    &__content {
      margin-top: 30px;
    }
  }
}