.description {
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: .05em;
  width: 100%;
  margin: 0;

  &_place {
    &_product {
      line-height: 1.5;
      margin-bottom: 30px;
      height: 162px;
      overflow: hidden;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 15px;
        background: linear-gradient(180deg, transparent, #fff 60%);
      }
    }

    &_about {
      align-self: flex-end;
      width: 634px;
      margin-bottom: 46px;
      line-height: 1.37;
    }

    &_team {
      margin-bottom: 20px;
      width: 100%;
      line-height: 1.41;
      letter-spacing: .05em;
    }

    &_about-production {
      margin: 25px 0 0;
      line-height: 1.4;

      &:first-child {
        margin: 0;
      }
    }

    &_card {
      width: 590px;
      margin-left: auto;
      line-height: 1.65;
      margin-top: 30px;

      &:first-of-type {
        margin-top: 40px;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media all and (max-width: 1919px) {
  .description {
    font-size: 16px;
    letter-spacing: .01em;

    &_place {
      &_product {
        height: 144px;
        margin-bottom: 27px;

        &:after {
          height: 11px;
        }
      }

      &_about {
        width: 545px;
        margin-bottom: 38px;
      }

      &_card {
        width: 500px;
        line-height: 1.6;
        margin-top: 20px;

        &:first-of-type {
          margin-top: 34px;
        }
      }
    }
  }
}

@media all and (max-width: 1536px) {
  .description {
    font-size: 12px;
    letter-spacing: .065em;

    &_place {
      &_product {
        font-size: 14px;
        height: 126px;
        margin-bottom: 23px;

        &:after {
          height: 11px;
        }
      }

      &_about {
        width: 440px;
        margin-bottom: 30px;
      }

      &_team {
        width: 430px;
      }

      &_card {
        width: 400px;
        margin-top: 18px;

        &:first-of-type {
          margin-top: 27px;
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .description {
    font-size: 14px;

    &_place {
      &_about {
        align-self: flex-start;
        width: 100%;
        margin-bottom: 34px;
      }

      &_team {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .description {
    font-size: 14px;

    &_place {
      &_product {
        font-size: 12px;
        height: 108px;
        margin-bottom: 20px;

        &:after {
          height: 10px;
        }
      }

      &_about {
        letter-spacing: .05em;
      }

      &_card {
        width: 310px;
        margin-top: 25px;
        line-height: 1.4;

        &:first-of-type {
          margin-top: 37px;
        }
      }
    }
  }
}

@media all and (max-width: 425px) {
  .description {

    &_place {
      &_team {
        margin-bottom: 35px;
      }

      &_card {
        width: 100%;
        margin-top: 15px;
        line-height: 1.4;

        &:first-of-type {
          margin-top: 22px;
        }
      }
    }
  }
}