.production {
  padding: 123px 0 0;
  box-sizing: border-box;
  position: relative;

  &__sliders {
    display: flex;
    margin-top: 60px;
    width: 1411px;
    justify-content: space-between;
  }

  &__image, &__image-main {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__item {
    margin-bottom: 26px;

    &.is-active {
      opacity: 1;
    }
  }
}

@media all and (max-width: 1919px) {
  .production {
    padding: 104px 155px 0 0;

    &__sliders {
      margin-top: 50px;
      width: 1175px;
    }
  }
}

@media all and (max-width: 1536px) {
  .production {
    padding: 85px 120px 0 0;

    &__sliders {
      margin-top: 40px;
      width: 940px;
    }
  }
}

@media all and (max-width: 1200px) {
  .production {
    padding: 68px 73px 0 0;

    &__sliders {
      margin-top: 35px;
      width: 730px;
    }
  }
}

@media all and (max-width: 1000px) {
  .production {

    &__sliders {
      width: 482px;
    }
  }
}

@media all and (max-width: 750px) {
  .production {
    padding-right: 0;
    &__sliders {
      margin-top: 27px;
      width: 100%;
      max-width: 482px;
    }
  }
}