.button-white {
  border: none;
  padding: 0;
  margin: 0 30px 0 0;
  background-color: #fff;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

@media all and (max-width: 1919px) {
  .button-white {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }
}

@media all and (max-width: 1536px) {
  .button-white {
    width: 31px;
    height: 31px;
    font-size: 18px;
  }
}

@media all and (max-width: 1200px) {
  .button-white {
    font-size: 22px;
  }
}

@media all and (max-width: 750px) {
  .button-white {
    font-size: 24px;
  }
}