.button-white {
  border: none;
  padding: 0;
  margin: 0 30px 0 0;
  background-color: #fff;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;

  &_place {
    &_card {
      margin-right: 15px;
    }
  }

  &__img {
    width: 25px;
    height: 24px;
    margin-bottom: 4px;
  }

  &__plus {
    width: 14px;
    height: 2px;
    background-color: #000;
    position: relative;
    margin: auto;

    &:after {
      content: '';
      width: 2px;
      height: 14px;
      background-color: #000;
      display: block;
      position: absolute;
      left: 6px;
      bottom: -6px;
    }
  }

  &__minus {
    width: 19px;
    height: 2px;
    background-color: #000;
    position: relative;
    margin: auto;
  }
}

@media all and (max-width: 1919px) {
  .button-white {
    width: 45px;
    height: 45px;
    font-size: 20px;


    &_place {
      &_card {
        margin-right: 13px;
      }
    }

    &__minus {
      width: 17px;
    }
  }
}

@media all and (max-width: 1536px) {
  .button-white {
    width: 31px;
    height: 31px;
    font-size: 18px;

    &__img {
      width: 18px;
      height: 17px;
      margin-bottom: 0;
    }

    &_place {
      &_card {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }

    &__plus {
      width: 10px;

      &:after {
        height: 10px;
        left: 4px;
        bottom: -4px;
      }
    }

    &__minus {
      width: 12px;
    }
  }
}

@media all and (max-width: 1200px) {
  .button-white {
    font-size: 22px;

    &_place {
      &_documents {
        width: 27px;
        height: 27px;
        margin-right: 15px;
      }
    }

    &__img {
      width: 12px;
      height: 11px;
      margin-bottom: 7px;
    }
  }
}

@media all and (max-width: 750px) {
  .button-white {
    font-size: 24px;
  }
}