.questions {
  position: relative;
  padding: 136px 245px 0 182px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 60px;
    letter-spacing: .03em;
    margin: 0;
  }
}

@media all and (max-width: 1919px) {
  .questions {
    padding: 115px 195px 0 157px;


    &__title {
      font-size: 50px;
    }
  }
}

@media all and (max-width: 1536px) {
  .questions {
    padding: 91px 220px 0 123px;

    &__title {
      font-size: 40px;
    }
  }
}

@media all and (max-width: 1200px) {
  .questions {
    padding: 74px 103px 0 74px;

    &__title {
      font-size: 27px;
      letter-spacing: .01em;
    }
  }
}

@media all and (max-width: 750px) {
  .questions {
    padding: 73px 18px 0;

    &__title {
      font-size: 24px;
      margin-bottom: 4px;
    }
  }
}