@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/header/header.css);
@import url(./blocks/root/root.css);
@import url(./blocks/button-yellow/button-yellow.css);
@import url(./blocks/menu-toggle/menu-toggle.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/main/main.css);
@import url(./blocks/products/products.css);
@import url(./blocks/product/product.css);