@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  width: 100%;
  position: relative;

  &__line {
    &_place_second-line {
      background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(252,252,252,1) 20%, rgba(252,252,252,1) 80%, rgba(239,239,239,1) 100%);
    }
  }

  &__line-wrap {
    display: flex;
    height: 74px;
    justify-content: space-between;
    align-items: center;
    max-width: 1766px;
    width: 100%;
    margin: 0 auto 0;

    &_place_second-line {
      height: 87px;
    }
  }

  &__logo {
    width: 216px;
    height: 41px;
    margin-right: 55px;
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &-btn-container {
      display: none;
    }

    &-wrap {
      margin: 0 40px;
      flex-grow: 1;

      &_type_products {
        margin: 0 100px 0  0;
      }
    }

    &-item {
      font-size: 20px;
      min-height: 74px;
      display: flex;
      align-items: center;

      &_active {
        font-weight: bold;
        margin-top: 0;
      }
    }

    &-link {
      color: #000;
      text-decoration: none;
      &_type {
        &_products {
          font-weight: bold;
        }
      }
    }
  }

  &__official {
    font-size: 20px;
    line-height: 25px;
    color: #202020;
    margin: 0;

    &_color_blue {
      color: #4F9495;
    }
  }

  &__lang{

    &-box {
    display: flex;
    align-items: center;
    justify-content: center;

      &_place_second-line {
        display: none;
      }
    }
    &-line {
      width: 1px;
      height: 25px;
      background-color: #000;
    }
  }

  &__check {
    width: 20px;
    margin-left: 5px;

    &_func_lang {
      display: none;
    }
  }

  &__button {
    font-size: 20px;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 30px;
    background-color: transparent;
    cursor: pointer;

    &_lang {
      &_ru {
        margin-right: 10px;
      }

      &_en {
        margin-left: 10px;
      }
    }

    &:disabled {
      font-weight: bold;
      color: #000;
      cursor: default;
    }

    &_type_city {
      font-size: 18px;
    }
  }

  &__city-box {
    margin-right: 46px;
  }

  &__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 40px;

    &_place_first-line {
      display: none;
    }

    &-link {
      color: #000;
      font-size: 20px;
      text-decoration: none;
      font-weight: bold;

      &_type_email {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 3px;
      }
    }
  }

  &__paragraph {
    font-size: 20px;
    margin: 0 0 2px 4px;
  }

  &__cart {
    padding: 0;
    width: 34px;
    height: 28px;
    border: none;
    background-color: transparent;
    margin: 0 20px 0 17px;

    &-badge:after {
      content: /*attr(value)*/'2';
      font-size: 12px;
      color: #000;
      background: #f3cd2b;
      border-radius: 50%;
      position: relative;
      padding: 3px 10px;
      left: 16px;
      bottom: 40px;
    }

    &-pic {
      width: 32px;
    /*  height: 28px;*/
    }
  }

  &__menu-dropdown {
    height: 0;
    overflow: hidden;
  }
}

@media all and (max-width: 1919px) {
  .header {
    &__line-wrap {
      height: 62px;
      max-width: 1473px;

      &_place_second-line {
        height: 72px;
      }
    }

    &__logo {
      width: 180px;
      height: 34px;
      margin-right: 48px;
    }

    &__official {
      font-size: 16px;
      min-width: 200px;
      line-height: 20px;
    }

    &__menu {
      &-wrap {
        margin: 0 30px;

        &_type_products {
          margin-left: 0;
          margin-right: 60px;
        }
      }

      &-item {
        font-size: 16px;
      }
    }

    &__button {
      font-size: 16px;
    }

    &__city-box {
      margin-right: 40px;
    }

    &__lang-line {
      height: 16px;
    }

    &__products-menu-item {
      font-size: 16px;
    }

    &__contacts-link {
      font-size: 16px;
    }

    &__paragraph {
      font-size: 16px;
    }

    &__cart {
      margin: 0 12px 0 17px;

      &-pic {
        width: 27px;
      /*  height: 23px;*/
      }

      &-badge:after {
        padding: 3px 10px;
        left: 16px;
        bottom: 35px;
      }
    }
  }
}

@media all and (max-width: 1536px) {
  .header {
    &__line-wrap {
      height: 49px;
      max-width: 1178px;

      &_place_second-line {
        height: 59px;
      }
    }

    &__logo {
      width: 124px;
      height: 23px;
      margin-right: 18px;
    }

    &__official {
      font-size: 12px;
      line-height: 15px;
      min-width: 155px;
    }

    &__menu {
      min-height: 51px;

      &-item {
        font-size: 14px;
        min-height: 51px;
      }

      &-wrap {
        margin: 0 18px;

        &_type_products {
          margin-left: 0;
        }
      }
    }

    &__check {
      width: 13px;
      margin-left: 0;

      &_func_lang {
        display: block;
        margin: 0;
      }
    }

    &__button {
      font-size: 13px;
      height: 51px;

      &_lang {

        &_ru {
          margin: 0;
        }

        &_en {
          display: none;
        }
      }
    }

    &__lang-line {
      display: none;
    }

    &__contacts {
      &-link {
        font-size: 12px;
      }
    }

    &__paragraph {
      font-size: 12px;
    }

    &__cart {
      margin: 0 0 0 11px;

      &-badge:after {
        font-size: 11px;
        padding: 2px 7px;
        left: 5px;
        bottom: 32px;
      }

      &-pic {
        margin: 4px 13px 0 0;
        width: 22px;
      /*  height: 18px;*/
      }
    }

    &__products-menu-item {
      font-size: 14px;
    }
  }
}

@media all and (max-width: 1200px) {
  .header {

    &__line {
      padding: 0 36px;

      &-wrap {
        height: 49px;
        width: 100%;
        justify-content: flex-start;

        &_place_second-line {
          height: 100%;
          justify-content: space-between;
        }
      }

      &_place_second-line {
        height: 59px;
      }
    }

    &__logo {
      width: 145px;
      height: 27px;
      margin-right: 30px;
    }

    &__official {
      margin-right: 15px;
    }

    &__contacts {
      display: none;
      margin-right: 20px;

      &_place_first-line {
        display: grid;
        min-width: 265px;
      }

      &-link {
        font-size: 15px;
        line-height: 16px;
      }
    }

    &__paragraph {
      font-size: 15px;
      line-height: 16px;
    }

    &__lang {

      &-box {
        display: none;

        &_place {
          &_dropdown {
            display: none;
          }

          &_second-line {
            display: block;
          }
        }
      }
    }

    &__button {
      font-size: 14px;

      &:disabled {
        font-weight: normal;
      }
    }

    &__city-box {
      margin-left: 50px;

      &_place {
        &_dropdown {
          display: none;
        }
      }
    }

    &__dropdown {

      &-wrap {
        height: auto;
        background-color: #fff;
      }
    }

    &__menu {

      &-item {
        &_type {
          &_main {
            margin-right: 40px;
          }
        }
      }

      &_type {
        &_main {
          flex-wrap: wrap;
          width: calc(100% - 70px);
          justify-content: flex-start;
          margin-left: 36px;
        }
      }

      &-dropdown {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, .1);
        width: 100%;
        height: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

        &_active {
          height: 100vh;
        }
      }

      &-wrap {
        margin: 0;

        &_visibility {
          &_header {
            &-main {
              display: none;
            }
          }

          &_dropdown {
            &-products {
              display: none;
            }
          }
        }

        &_type {
          &_products {
            max-width: 600px;
            margin-right: 100px;
          }
        }

      }

      &-btn {
        &, &::after, &::before {
          display: block;
          background-color: #000;
          position: absolute;
          height: 5px;
          width: 24px;
          transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
        }

        &::before {
          content: '';
          margin-top: -10px;
        }

        &::after {
          content: '';
          margin-top: 10px;
        }

        &-container {
          display: flex;
          flex-direction: column;
          height: 49px;
          width: 30px;
          align-items: flex-end;
          justify-content: center;
          cursor: pointer;
          position: absolute;
          right: 36px;
          z-index: 2;
        }

        &-bar {
          display: block;
          width: 100%;
          height: 5px;
          margin-bottom: 5px;
          background-color: #000;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    &__burger-wrap {
      width: 25px;
      height: 30px;
    }

    &__cart {
      height: 40px;
      width: 40px;
      border: none;
      margin: 0 10px 0 30px;

      &-badge:after {
        font-size: 12px;
        border-radius: 50%;
        position: relative;
        padding: 3px 10px;
        left: 18px;
        bottom: 36px;
      }

      &-pic {
        width: 28px;
        margin: 10px 0 0 0;
      /*  height: 28px;*/
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .header {

    &__official {
      display: none;
    }

    &__contacts {
      margin-right: 10px;
    }

    &__menu {
      &_type {
        &_main {
          margin-left: 32px;
        }
      }

      &-wrap {
        &_type {
          &_products {
            margin-right: 45px;
          }
        }
      }

      &-button {
        height: 100%;
        width: 30px;
        justify-content: flex-end;
      }
    }

    &__dropdown {
      &-wrap {
        height: 108px;
      }
    }

    &__cart {
      margin-left: 19px;
    }

    &__burger-wrap {
      width: 20px;
      height: 25px;
    }

    &__city-box {
      position: absolute;
      top: 51px;
      right: 0;
      &_place {
        &_header {
          display: none;
        }

        &_dropdown {
          display: block;
        }
      }
    }
  }
}

@media all and (max-width: 750px) {
  .header {
    &__line {
      padding: 0 20px;
    }

    &__contacts {
      flex-direction: column;
      width: 100%;
      margin: 30px 0 8px;
      &_place {
        &_first-line {
          display: none;
        }

        &_dropdown {
          display: flex;
        }
      }
    }

    &__paragraph {
      display: none;
    }

    &__dropdown {
      &-wrap {
        width: 280px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        height: 490px;
        padding: 38px 0 49px 40px;
        box-sizing: border-box;
      }
    }

    &__menu {
      display: flex;
      flex-direction: column;
      width: auto;
      margin: 0;
      align-items: flex-start;

      &-wrap {
        &_type {
          &_products {
            margin-top: 24px;
          }
        }
        &_visibility {
          &_header {
            &-products {
              display: none;
            }
          }

          &_dropdown {
            &-products {
              display: block;
            }
          }
        }
      }

      &-item {
        min-height: 29px;
      }

      &-dropdown {
        display: flex;
        justify-content: flex-end;
      }

      &-btn {
        &-container {
          right: 20px;
        }
      }
    }

    &__lang {
      &-box {
        display: none;

        &_place {
          &_dropdown {
            display: block;
          }
        }
      }
    }

    &__city {
      &-box {
        position: static;
        margin: 0;
      }
    }

    &__button {
      height: 30px;
    }
  }
}

@media all and (max-width: 425px) {
  .header {
    &__menu {
      &-btn {
        &, &::after, &::before {
          height: 4px;
          width: 20px;
        }

        &::before {
          margin-top: -8px;
        }

        &::after {
          margin-top: 8px;
        }
      }
    }
  }
}

.button-yellow {
  margin: 0;
  padding: 3px 45px 0;
  border: none;
  background-color: #f3cd2b;
  font-size: 16px;
/*  width: 163px;*/
  height: 58px;
  border-radius: 60px;

  &_place_first-line {
    display: none;
  }
}

@media all and (max-width: 1919px) {
  .button-yellow {
    font-size: 14px;
    height: 50px;
    padding: 3px 35px 0;
  }
}

@media all and (max-width: 1536px) {
  .button-yellow {
    height: 39px;
    padding: 0 16px;
  }
}

@media all and (max-width: 1200px) {
  .button-yellow {
    display: none;
    width: 190px;

    &_place_first-line {
      display: block;
    }
  }
}

@media all and (max-width: 750px) {
  .button-yellow {
    display: block;

    &_place_first-line {
      display: none;
    }
  }
}

#menu-toggle {
  display: none;
}

@media all and (max-width: 1200px) {
  #menu-toggle:checked + .header__menu-btn-container .header__menu-btn::before {
    transform:  translateY(10px) rotate(45deg);
  }

  #menu-toggle:checked + .header__menu-btn-container .header__menu-btn {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .header__menu-btn-container .header__menu-btn::after {
    transform: translateY(-10px) rotate(-45deg);
  }
}

@media all and (max-width: 425px) {
  #menu-toggle:checked + .header__menu-btn-container .header__menu-btn::before {
    transform:  translateY(8px) rotate(45deg);
  }

  #menu-toggle:checked + .header__menu-btn-container .header__menu-btn::after {
    transform: translateY(-8px) rotate(-45deg);
  }
}