.production-menu {
  margin: 64px 0 0;
  padding: 86px 50px 125px 66px;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #f2f2f2;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 438px;
  list-style-type: none;

  &__item {
    margin: 24px 0 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    letter-spacing: .03em;
  }

  &__button {
    margin: 0 0 0 8px;
    padding: 0;
    background-color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__line {
    width: 17px;
    height: 1px;
    background-color: #000;
    position: relative;

    &:after {
      content: '';
      width: 1px;
      height: 17px;
      background-color: #000;
      display: block;
      position: absolute;
      left: 8px;
      bottom: -8px;
    }

    &_on {
      &:after {
        display: none;
      }
    }
  }

  &__submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__subitem {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-out;

    &_visible {
      height: 37px;
      transition: height 0.5s ease-out;

      &:first-of-type {
        margin-top: 12px;
      }

      &:last-of-type {
        height: 30px;
      }
    }
  }

  &__sublink {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    letter-spacing: .02em;
  }
}

@media all and (max-width: 1919px) {
  .production-menu {
    margin-top: 56px;
    width: 372px;
    padding: 74px 40px 97px 62px;

    &__link {
      font-size: 15px;
    }

    &__button {
      margin: 0 0 0 8px;
      width: 30px;
      height: 30px;
    }

    &__line {
      width: 13px;

      &:after {
        height: 13px;
        left: 6px;
        bottom: -6px;
      }
    }

    &__subitem {

      &_visible {
        height: 31px;

        &:first-of-type {
          margin-top: 11px;
        }

        &:last-of-type {
          height: 23px;
        }
      }
    }

    &__sublink {
      font-size: 15px;
      letter-spacing: .05em;
    }
  }
}

@media all and (max-width: 1536px) {
  .production-menu {
    margin-top: 25px;
    width: 298px;
    padding: 56px 20px 75px 48px;

    &__button {
      margin: 0 0 0 7px;
      width: 25px;
      height: 25px;
    }

    &__item {
      margin-top: 20px;
    }

    &__line {
      width: 11px;

      &:after {
        height: 11px;
        left: 5px;
        bottom: -5px;
      }
    }

    &__link {
      font-size: 12px;
    }

    &__subitem {

      &_visible {
        height: 25px;

        &:first-of-type {
          margin-top: 5px;
        }

        &:last-of-type {
          height: 19px;
        }
      }
    }

    &__sublink {
      font-size: 12px;
      letter-spacing: .05em;
    }
  }
}

@media all and (max-width: 1200px) {
  .production-menu {
    padding: 31px 20px 35px 34px;
    width: 308px;
    margin-top: 40px;

    &__item {
      margin-top: 18px;
    }

    &__link {
      font-size: 14px;
    }
    &__subitem {

      &_visible {
        height: 25px;

        &:first-of-type {
          margin-top: 7px;
        }

        &:last-of-type {
          height: 21px;
        }
      }
    }

    &__sublink {
      font-size: 14px;
    }
  }
}

@media all and (max-width: 750px) {
  .production-menu {
    width: 300px;
    padding: 35px 20px 35px 20px;
  }
}