.title {
  font-size: 60px;
  letter-spacing: .03em;
  line-height: 1.5;
  margin: 0;

  &_type {
    &_info {
      font-size: 28px;
      letter-spacing: .1em;
    }
  }

  &_place {
    &_production {
      margin-left: 184px;
    }
  }
}

@media all and (max-width: 1919px) {
  .title {
    font-size: 50px;

    &_type {
      &_info {
        font-size: 25px;
        letter-spacing: .05em;
      }
    }

    &_place {
      &_production {
        margin-left: 155px;
      }
    }
  }
}

@media all and (max-width: 1536px) {
  .title {
    font-size: 40px;

    &_type {
      &_info {
        font-size: 20px;
      }
    }

    &_place {
      &_production {
        margin-left: 120px;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .title {
    font-size: 27px;

    &_type {
      &_info {
        font-size: 20px;
      }
    }

    &_place {
      &_production {
        margin-left: 73px;
      }
    }
  }
}

@media all and (max-width: 750px) {
  .title {
    font-size: 22px;

    &_place {
      &_team {
        width: 50%;
        line-height: 1.2;
      }

      &_production {
        margin-left: 19px;
      }

      &_contacts {
        margin-left: 19px;
      }

      &_calculation {
        line-height: 1.2;
        margin-right: 19px;
      }

      &_documents {
        line-height: 1.2;
        margin-right: 90px;
      }
    }
  }
}