.subtitle {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  letter-spacing: .05em;
  line-height: 45px;
}

@media all and (max-width: 1919px) {
  .subtitle {
      font-size: 32px;
      letter-spacing: .01em;
      line-height: 38px;
  }
}

@media all and (max-width: 1536px) {
  .subtitle {
      font-size: 27px;
      line-height: 32px;
  }
}

@media all and (max-width: 1200px) {
  .subtitle {
      font-size: 20px;
      line-height: 25px;
  }
}

@media all and (max-width: 750px) {
  .subtitle {
      font-size: 18px;
      line-height: 20px;
  }
}