.about-production {
  padding: 126px 197px 0 188px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.about-production__subtitle {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin: 52px 0 0;
  letter-spacing: 0.05em;
  max-width: 1400px;
}
.about-production__textcolumns {
  margin-top: 63px;
  width: 1114px;
  -moz-column-count: 2;
       column-count: 2;
  align-self: flex-end;
  -moz-column-gap: 110px;
       column-gap: 110px;
}
.about-production__paragraph {
  font-size: 30px;
  margin: 0 0 3px;
  letter-spacing: 0.05em;
}
.about-production__contacts {
  margin-top: 95px;
}
.about-production__contact {
  display: flex;
  flex-wrap: wrap;
}

@media all and (max-width: 1919px) {
  .about-production {
    padding: 109px 160px 0 160px;
  }
  .about-production__subtitle {
    font-size: 25px;
    margin-top: 46px;
    max-width: 1050px;
  }
  .about-production__textcolumns {
    width: 940px;
    margin-top: 54px;
    -moz-column-gap: 95px;
         column-gap: 95px;
  }
  .about-production__contacts {
    margin-top: 50px;
  }
  .about-production__paragraph {
    font-size: 25px;
  }
}
@media all and (max-width: 1536px) {
  .about-production {
    padding: 84px 130px 0 124px;
  }
  .about-production__subtitle {
    font-size: 20px;
    margin-top: 34px;
    max-width: 850px;
  }
  .about-production__textcolumns {
    width: 745px;
    -moz-column-gap: 74px;
         column-gap: 74px;
    margin-top: 40px;
  }
  .about-production__contacts {
    margin-top: 52px;
  }
  .about-production__paragraph {
    font-size: 20px;
  }
}
@media all and (max-width: 1200px) {
  .about-production {
    padding: 70px 30px 0 74px;
  }
  .about-production__subtitle {
    font-size: 16px;
    margin-top: 20px;
    width: auto;
    margin-right: 110px;
  }
  .about-production__textcolumns {
    width: auto;
    margin-top: 20px;
    -moz-column-gap: 55px;
         column-gap: 55px;
    -moz-column-width: 280px;
         column-width: 280px;
  }
  .about-production__contacts {
    margin-top: 22px;
  }
  .about-production__paragraph {
    font-size: 16px;
    margin: 0;
  }
}
@media all and (max-width: 750px) {
  .about-production {
    padding: 32px 15px 0 20px;
  }
  .about-production__subtitle {
    font-size: 14px;
    margin-top: 16px;
    margin-right: 0;
    line-height: 1.3;
  }
  .about-production__textcolumns {
    margin-top: 34px;
  }
  .about-production__contacts {
    margin-top: 36px;
  }
  .about-production__paragraph {
    font-size: 14px;
  }
}
@media all and (max-width: 425px) {
  .about-production__textcolumns {
    position: relative;
    display: block;
    height: 300px;
    overflow: hidden;
  }
  .about-production__textcolumns:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(180deg, transparent, #fff 60%);
  }
  .about-production__textcolumns_visible {
    height: auto;
  }
  .about-production__textcolumns_visible:after {
    display: none;
  }
}/*# sourceMappingURL=about-production.css.map */