.background {
  &__text {
    font-size: 107px;
    font-weight: bold;
    position: absolute;
    top: 110px;
    left: -10px;
    letter-spacing: 0.05em;
    color: #f6f6f6;
    z-index: -1;
    margin: 0;

    &_place {
      &_about {
        top: 393px;
        left: -30px;
        font-size: 150px;
        letter-spacing: .065em;
        line-height: 1.28;
        width: 1100px;
      }

      &_product-card {
        top: 26px;
      }
    }
  }

  &__pic {
    width: 1026px;
    height: 1070px;
    position: absolute;
    right: 0;
    top: 65px;
    z-index: -1;

    &-yellow {
      width: 283px;
      height: 340px;
      position: absolute;
      left: 0;
      top: 275px;
      z-index: -1;
    }

    &-yellows {
      position: absolute;
      right: 0;
      top: 345px;
    }

    &-gray {
      width: 459px;
      height: 304px;
      position: absolute;
      top: 415px;
      left: 0;
    }

    &-calc {
      width: 734px;
      height: 718px;
      position: absolute;
      bottom: -120px;
      right: 125px;
      z-index: -1;
    }
  }
}

@media all and (max-width: 1919px) {
  .background {
    &__text {
      left: -3px;
      top: 92px;
      font-size: 90px;
      letter-spacing: .04em;

      &_place {
        &_about {
          top: 325px;
          left: -20px;
          font-size: 127px;
          letter-spacing: .055em;
        }

        &_product-card {
          top: 18px;
        }
      }
    }

    &__pic {
      width: 855px;
      height: 892px;
      top: 55px;

      &-yellow {
        width: 237px;
        height: 284px;
        top: 230px;
      }

      &-yellows {
        width: 672px;
        height: 552px;
        top: 290px;
      }

      &-gray {
        width: 383px;
        height: 254px;
        top: 345px;
      }

      &-calc {
        width: 611px;
        height: 598px;
        bottom: -90px;
        right: 120px;
      }
    }
  }
}

@media all and (max-width: 1536px) {
  .background {
    &__text {
      font-size: 70px;
      letter-spacing: .06em;
      top: 72px;

      &_place {
        &_about {
          top: 257px;
          left: -20px;
          font-size: 103px;
          letter-spacing: .05em;
        }

        &_product-card {
          top: 14px;
        }
      }
    }

    &__pic {
      width: 685px;
      height: 713px;
      top: 40px;

      &-yellow {
        width: 188px;
        height: 227px;
        top: 185px;
      }

      &-yellows {
        width: 538px;
        height: 441px;
        top: 230px;
      }

      &-gray {
        width: 305px;
        height: 203px;
        top: 275px;
      }

      &-calc {
        width: 490px;
        height: 478px;
        bottom: -80px;
        right: 90px;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .background {
    &__text {
      &_place {
        &_about {
          font-size: 70px;
          letter-spacing: .03em;
          width: 500px;
          top: 181px;
        }

        &_product-card {
          display: none;
        }
      }
    }

    &__pic {
      width: 411px;
      height: 428px;

      &-yellow {
        width: 138px;
        height: 167px;
        top: 130px;
      }

      &-yellows {
        width: 323px;
        height: 265px;
        top: 240px;
      }

      &-gray {
        width: 229px;
        height: 151px;
        top: 210px;
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .background {
    &__text {
      font-size: 50px;
      top: 40px;

      &_place {
        &_about {
          font-size: 70px;
          top: 181px;
          left: -12px;
        }
      }
    }

    &__pic {
      top: 30px;

    }
  }
}

@media all and (max-width: 750px) {
  .background {
    &__text {
      font-size: 45px;
      top: 85px;
      width: 290px;
      letter-spacing: .03em;

      &_place {
        &_about {
          letter-spacing: .07em;
          position: static;
          margin: 24px -5px 34px;
        }
      }
    }

    &__pic {
      width: 232px;
      height: 241px;
      bottom: 0;
      top: auto;

      &-yellow {
        top: 327px;
      }

      &-yellows {
        width: 235px;
        height: 193px;
        top: 330px;
      }

      &-gray {
        display: none;
      }

      &-calc {
        width: 249px;
        height: 243px;
        bottom: 5px;
        right: 10px;
      }
    }
  }
}