.advantages {
  padding: 141px 120px 0 188px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__subtitle {
    font-size: 50px;
    display: block;
    line-height: 1;
  }

  &__item {
    display: flex;
    justify-content: flex-end;
  }

  &__number {
    font-size: 65px;
    font-weight: bold;
    margin: 0;
  }

  &__description {
    font-size: 30px;
    font-weight: bold;
    margin: 78px 0 0 23px;
    line-height: 1.2;
    letter-spacing: .02em;
    width: 480px;
  }
}

@media all and (max-width: 1919px) {
  .advantages {
    padding: 120px 140px 0 156px;

    &__subtitle {
      font-size: 40px;
    }

    &__number {
      font-size: 55px;
    }

    &__description {
      font-size: 25px;
      margin: 65px 0 0 18px;
      width: 400px;
    }
  }
}

@media all and (max-width: 1536px) {
  .advantages {
    padding: 95px 70px 0 120px;

    &__subtitle {
      font-size: 33px;
      letter-spacing: .01em;
    }

    &__number {
      font-size: 43px;
    }

    &__description {
      font-size: 21px;
      margin: 50px 0 0 16px;
      width: 345px;
    }
  }
}

@media all and (max-width: 1200px) {
  .advantages {
    padding: 70px 50px 0 72px;

    &__subtitle {
      font-size: 20px;
    }

    &__number {
      font-size: 30px;
    }

    &__description {
      font-size: 16px;
      margin: 40px 0 0 10px;
      width: 300px;
    }
  }
}

@media all and (max-width: 1000px) {
  .advantages {
    padding-right: 25px;

    &__number {
      font-size: 26px;
    }

    &__description {
      font-size: 12px;
      letter-spacing: .05em;
      margin: 32px 0 0 10px;
      width: 220px;
      line-height: 1.25;
    }
  }
}

@media all and (max-width: 750px) {
  .advantages {
    padding-left: 20px;

    &__subtitle {
      font-size: 22px;
    }

    &__description {
      font-size: 14px;
      margin: 30px 0 0 10px;
    }
  }
}