.splide {
  box-sizing: border-box;

  &_place {
    &_products {
      margin: 70px 0 0;
      width: 100%;
    }

    &_team {
      width: 907px;
    }
  }

  &__track {
    &_place {
      &_products {
        box-sizing: border-box;
        width: 100%;
        overflow:visible;
      }
    }
  }

  &__arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 2;

    &_place {
      &_products {
        display: none;
      }

      &_team {
        top: -127px;
        right: 75px;
        width: 160px;
      }
    }
  }

  &__arrow {
    margin: 0;
    padding: 0;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: 27px 31px;
    background-position-y: center;

    & > svg {
      visibility: hidden;
    }

    &--prev {
      background-image: url(../../images/strelka-slaidera-2.svg);
      background-position-x: 17px;
    }

    &--next {
      background-image: url(../../images/strelka-slaidera.svg);
      background-position-x: 27px;
    }

    &:disabled {
      background-color: #f0f0f0;
    }
  }

  &__list {
    &_place {
      &_products {
        box-sizing: border-box;
        padding: 0;
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}

@media all and (max-width: 1919px) {
  .splide {

    &_place {
      &_products {
        margin-top: 59px;
      }

      &_team {
        width: 756px;
      }
    }

    &__arrows {

      &_place {
        &_team {
          top: -107px;
          right: 62px;
          width: 135px;
        }
      }
    }

    &__arrow {
      width: 62px;
      height: 62px;
      background-size: 22px 26px;

      &--next {
        background-position-x: 24px;
      }
    }
  }
}


@media all and (max-width: 1536px) {
  .splide {

    &_place {
      &_products {
        margin-top: 50px;
      }
    }
  }
}


@media all and (max-width: 1000px) {
  .splide {

    &_place {
      &_products {
        margin-top: 30px;
      }
    }

  }
}

@media all and (max-width: 750px) {
  .splide {

    &_place {
      &_products {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    &__track {
      &_place {
        &_products {
          width: 280px;
          overflow:hidden;
          box-shadow: 0 0 15px 5px #f2f2f2;
          border-radius: 35px;
        }
      }
    }

    &__list {
      &_place {
        &_products {
          width: 100%;
        }
      }
    }

    &__pagination {
      padding: 0;
      width: 40px;
      justify-content: space-between;

      &__page {
        padding: 0;
        margin: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: none;
        background-color: #52514e;

        &.is-active {
          background-color: #f3cd2b;
        }
      }
    }

    &__arrows {
      &_place {
        &_products {
          display: block;
          width: 380px;
          top: 222px;
        }
      }
    }

    &__arrow {
      width: 35px;
      height: 35px;
      box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
      background-size: 12px 14px;

      &--prev {
        background-position-x: 9px;
      }

      &--next {
        background-position-x: 12px;
      }
    }
  }
}

@media all and (max-width: 425px) {
  .splide {
    &__arrows {
      &_place {
        &_products {
          width: 270px;
          top: 140px;
        }
      }
    }
  }
}