.splide {
  box-sizing: border-box;
  &.is-initialized:not(.is-active) .splide__list {
    display: flex;
  }

  &_place {
    &_products {
      margin: 70px 0 0;
      width: 100%;
    }

    &_team {
      width: 907px;
    }

    &_production-main {
      width: 919px;
      height: 734px;
    }

    &_production-card {
      width: calc(100% + 60px);
      max-width: 1163px;
      height: 300px;
      border-top-left-radius: 150px;
      border-bottom-left-radius: 150px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      margin: 84px 0 0 -60px;
      z-index: 2;
      padding: 0 0 0 102px;
      box-sizing: border-box;
      list-style-type: none;
      display: flex;
      align-items: center;
    }

    &_application {
      width: 1177px;
      height: auto;
      align-self: flex-end;
      margin-top: 93px;
    }
  }

  &__track {
    &_place {
      &_products {
        box-sizing: border-box;
        width: 100%;
        overflow:visible;
      }

      &_production {
        width: 100%;
      }

      &_production-main {
        width: 919px;
        height: 734px;
        overflow: hidden;
      }

      &_production-card {
        width: 980px;
        overflow: hidden;
      }

      &_application {
        width: 100%;
        height: 700px;
      }
    }
  }

  &__arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 160px;
    height: 0;
    overflow: visible;

    &_place {
      &_products {
        display: none;
      }

      &_team {
        top: -127px;
        right: 75px;
      }

      &_production-main {
        right: calc(919px - 100vw + 93px);
        top: -127px;
      }

      &_production-card {
        width: 980px;
        left: 92px;
        top: 45%;
        z-index: 2;
      }
    }
  }

  &__arrow {
    margin: 0;
    padding: 0;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: 27px 31px;
    background-position-y: center;

    &_place {
      &_production-card {
        width: 35px;
        height: 35px;
        background-size: 12px 14px;
      }
    }

    & > svg {
      visibility: hidden;
    }

    &--prev {
      background-image: url(../../images/strelka-slaidera-2.svg);
      background-position-x: 17px;

      &_place {
        &_production-card {
          background-position-x: 9px;
        }
      }
    }

    &--next {
      background-image: url(../../images/strelka-slaidera.svg);
      background-position-x: 27px;

      &_place {
        &_production-card {
          background-position-x: 12px;
        }
      }
    }

    &:disabled {
      background-color: #f0f0f0;
    }
  }

  &__list {
    &_place {
      &_products {
        box-sizing: border-box;
        padding: 0;
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      &_application {
        flex-direction: column;
        flex-wrap: wrap;
      }

    /*  &_production {
        display: flex;
        flex-direction: column;
      }*/
    }
  }
}

@media all and (max-width: 1919px) {
  .splide {

    &_place {
      &_products {
        margin-top: 59px;
      }

      &_team {
        width: 756px;
      }

      &_production-main {
        width: 766px;
        height: 612px;
      }

      &_production-card {
        width: calc(100% + 52px);
        margin-top: 73px;
        height: 246px;
        padding-left: 86px;
        margin-left: -52px;
      }

      &_application {
        width: 975px;
        margin-top: 71px;
      }
    }

    &__track {
      &_place {
        &_production-main {
          width: 766px;
          height: 612px;
        }

        &_production-card {
          width: 850px;
        }

        &_application {
          height: 550px;
        }
      }
    }

    &__arrows {
      width: 135px;

      &_place {
        &_team {
          top: -107px;
          right: 62px;
        }

        &_production-main {
          right: calc(766px - 100vw + 80px);
          top: -107px;
        }

        &_production-card {
          width: 850px;
          left: 76px;
        }
      }
    }

    &__arrow {
      width: 62px;
      height: 62px;
      background-size: 22px 26px;

      &--prev {
        &_place {
          &_production-card {
            background-position-x: 9px;
          }
        }
      }

      &--next {
        background-position-x: 24px;
        &_place {
          &_production-card {
            background-position-x: 12px;
          }
        }
      }

      &_place {
        &_production-card {
          width: 35px;
          height: 35px;
          background-size: 12px 14px;
        }
      }
    }
  }
}

@media all and (max-width: 1585px) {
  .splide {
    &_place {

      &_production-card {
        padding-left: 30px;
      }
    }

    &__arrows {
      &_place {

        &_production-card {
          left: 20px;
        }
      }
    }
  }
}


@media all and (max-width: 1536px) {
  .splide {

    &_place {
      &_products {
        margin-top: 50px;
      }

      &_team {
        width: 606px;
      }

      &_production-main {
        width: 613px;
        height: 489px;
      }

      &_production-card {
        margin-top: 52px;
        margin-left: -41px;
        height: 198px;
        padding-left: 68px;
        width: calc(100% + 41px);
        justify-content: space-between;
      }

      &_application {
        width: 786px;
        margin-top: 62px;
      }
    }

    &__track {
      &_place {
        &_production-main {
          width: 613px;
          height: 489px;
        }

        &_production-card {
          width: 680px;
        }

        &_application {
          height: 413px;
        }
      }
    }

    &__arrows {
      width: 109px;

      &_place {
        &_team {
          top: -85px;
          right: 50px;
        }

        &_production-main {
          right: calc(613px - 100vw + 68px);
          top: -86px;
        }

        &_production-card {
          width: 690px;
          left: 58px;
        }
      }
    }

    &__arrow {
      width: 50px;
      height: 50px;
      background-size: 18px 21px;

      &--next {
        background-position-x: 19px;

        &_place {
          &_production-card {
            background-position-x: 12px;
          }
        }
      }

      &--prev {
        background-position-x: 14px;

        &_place {
          &_production-card {
            background-position-x: 10px;
          }
        }
      }

      &_place {
        &_production-card {
          width: 35px;
          height: 35px;
          background-size: 12px 14px;
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .splide {

    &_place {
      &_team {
        width: 536px;
      }

      &_production-main {
        width: 482px;
        height: 384px;
      }

      &_production-card {
        width: 100%;
        justify-content: flex-start;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: 0;
      }
    }

    &__track {
      &_place {
        &_production-main {
          width: 482px;
          height: 384px;
        }
      }
    }

    &__arrows {
      width: 74px;

      &_place {
        &_team {
          top: -68px;
        }

        &_production-main {
          right: calc(482px - 100vw + 50px);
          top: -67px;
        }

        &_production-card {
          width: 690px;
          left: 54px;
        }
      }
    }

    &__arrow {
      width: 35px;
      height: 35px;
      background-size: 12px 14px;

      &--next {
        background-position-x: 12px;

        &_place {
          &_production-card {
            background-position-x: 12px;
          }
        }
      }

      &--prev {
        background-position-x: 9px;

        &_production-card {
          background-position-x: 9px;
        }
      }
    }
  }
}


@media all and (max-width: 1000px) {
  .splide {

    &_place {
      &_products {
        margin-top: 30px;
      }

      &_team {
        width: 256px;
      }

      &_production {
        display: none;
      }

      &_production-card {
        margin-top: 32px;
        margin-left: 72px;
        justify-content: space-between;
        height: 178px;
        padding-left: 40px;
        width: calc(100% - 72px);
      }

      &_application {
        margin-top: 26px;
        width: 600px;
      }
    }

    &__track {
      &_place {
        &_production-card {
          width: 600px;
        }
      }
    }

    &__arrows {
      &_place {
        &_team {
          right: 0;
        }

        &_production-main {
          right: -32vw;
        }

        &_production-card {
          left: 25px;
          width: 630px;
        }
      }
    }
  }
}

@media all and (max-width: 750px) {
  .splide {

    &_place {
      &_products {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      &_production-main {
        width: 100%;
        height: 80%;
      }

      &_production-card {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        margin: 48px 0 0;
        width: 100%;
        box-shadow: none;
        grid-row-start: 5;
        grid-row-end: 6;
        padding-left: 40px;
      }

      &_application {
        margin-top: 36px;
        align-self: center;
        width: 280px;
      }
    }

    &__track {
      &_place {
        &_products {
          width: 280px;
          overflow:hidden;
          box-shadow: 0 0 15px 5px #f2f2f2;
          border-radius: 35px;
        }

        &_production-main {
          width: 100%;
          height: 80%;
        }

        &_production-card {
          height: auto;
          width: auto;
        }

        &_application {
        }
      }
    }

    &__list {
      &_place {
        &_products {
          width: 100%;
        }

        &_production-card {
          flex-direction: column;
        }
      }
    }

    &__pagination {
      padding: 0;
      width: 40px;
      justify-content: space-between;

      &__page {
        padding: 0;
        margin: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: none;
        background-color: #52514e;

        &.is-active {
          background-color: #f3cd2b;
        }
      }
    }

    &__arrows {
      &_place {
        &_products {
          display: flex;
          width: 380px;
          top: 222px;
        }

        &_production-main {
          right: 0;
          top: 45%;
          width: 100%;
          padding: 0 8px 0;
          box-sizing: border-box;
        }

        &_application {
          right: -20px;
          top: 42%;
          width: 320px;
          padding: 0 8px 0;
          box-sizing: border-box;
        }
      }
    }

    &__arrow {
      width: 35px;
      height: 35px;
      box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
      background-size: 12px 14px;

      &--prev {
        background-position-x: 9px;
      }

      &--next {
        background-position-x: 12px;
      }
    }
  }
}

@media all and (max-width: 425px) {
  .splide {

    &_place {

      &_production-card {
        padding: 0;
      }
    }

    &__arrows {
      &_place {
        &_products {
          width: 270px;
          top: 140px;
        }

        &_team {
          top: -75px;
          right: -16px;
        }
      }
    }
  }
}
