.splide {
  box-sizing: border-box;
  &.is-initialized:not(.is-active) .splide__list {
    display: grid;
  }

  &_place {
    &_products {
      margin: 70px 0 0;
      width: 100%;
    }

    &_team {
      width: 907px;
    }

    &_production-card {
      width: calc(100% + 60px);
      max-width: 1163px;
      height: 300px;
      border-top-left-radius: 150px;
      border-bottom-left-radius: 150px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      margin: 84px 0 0 -60px;
      z-index: 2;
      padding: 0 0 0 102px;
      box-sizing: border-box;
      list-style-type: none;
      display: flex;
      align-items: center;
    }

    &_application {
      width: 1177px;
      height: auto;
      align-self: flex-end;
      margin-top: 93px;
    }

    &_advantages {
      margin: 80px 0 0;
      align-self: flex-end;
    }

    &_advantages-card {
      margin: 40px 0 0;
      align-self: flex-end;
      width: 100%;
    }

    &_documents {
      margin: 80px 0 0;
      align-self: flex-end;
    }

    &_card-menu {
      margin: 98px 200px 0;
      padding: 40px 145px;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
      border-radius: 50px;
    }

    &_application-card {
      margin: 60px 0 0;
    }
  }

  &__track {
    &_place {
      &_products {
        box-sizing: border-box;
        width: 100%;
        overflow:visible;
      }

      &_production {
        width: 100%;
      }

      &_production-main {
        width: 919px;
        height: 734px;
        overflow: hidden;
      }

      &_production-card {
        width: 980px;
        overflow: hidden;
      }

      &_application {
        width: 100%;
        height: 700px;
      }

      &_documents {
        width: 1300px;
      }
    }
  }

  &__arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 160px;
    height: 0;
    overflow: visible;

    &_place {
      &_products {
        display: none;
      }

      &_team {
        top: -127px;
        right: 75px;
      }

      &_production-main {
        right: calc(919px - 100vw + 93px);
        top: -127px;
      }

      &_production-card {
        width: 980px;
        left: 92px;
        top: 45%;
        z-index: 2;
      }

      &_documents {
        top: -150px;
        right: 65px;
      }
    }
  }

  &__arrow {
    margin: 0;
    padding: 0;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: 27px 31px;
    background-position-y: center;

    &_place {
      &_production-card {
        width: 35px;
        height: 35px;
        background-size: 12px 14px;
      }
    }

    & > svg {
      visibility: hidden;
    }

    &--prev {
      background-image: url(../../images/strelka-slaidera-2.svg);
      background-position-x: 17px;

      &_place {
        &_production-card {
          background-position-x: 9px;
        }
      }
    }

    &--next {
      background-image: url(../../images/strelka-slaidera.svg);
      background-position-x: 27px;

      &_place {
        &_production-card {
          background-position-x: 12px;
        }
      }
    }

    &:disabled {
      background-color: #f0f0f0;
    }
  }

  &__list {
    &_place {
      &_products {
        box-sizing: border-box;
        padding: 0;
        list-style-type: none;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
      }

      &_application {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
      }

      &_advantages {
        display: grid;
        grid-template-columns: repeat(2, 600px);
        grid-template-rows: auto;
        gap: 30px 10px;
        margin: 0;
        padding: 0;
        list-style-type: none;
      }


      &_advantages-card {
        grid-template-rows: repeat(7, auto);
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: column;
        row-gap: 30px;
        column-gap: 90px;
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      &_documents {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 600px;
        grid-auto-flow: column;
        grid-auto-columns: 600px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        gap: 60px 0;
      }

      &_card-menu {
        // width: 1506px;
        display: grid;
        justify-content: space-between;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
        list-style-type: none;
        padding: 0 145px;
        box-sizing: border-box;
      }

      &_application-card {
        grid-template-columns: repeat(4, auto);
      }
    }
  }
}

@media all and (max-width: 1919px) {
  .splide {

    &_place {
      &_products {
        margin-top: 59px;
      }

      &_team {
        width: 756px;
      }

      &_production-main {
        width: 766px;
        height: 612px;
      }

      &_production-card {
        width: calc(100% + 52px);
        margin-top: 73px;
        height: 246px;
        padding-left: 86px;
        margin-left: -52px;
      }

      &_application {
        width: 975px;
        margin-top: 71px;
      }

      &_advantages {
        margin: 68px 0 0;
      }

      &_advantages-card {
        margin: 30px 0 0;
      }

      &_documents {
        margin: 60px 0 0;
      }

      &_card-menu {
        margin: 78px 175px 0;
        padding: 33px 120px;
      }

      &_application-card {
        margin: 55px 0 0;
      }
    }

    &__track {
      &_place {
        &_production-main {
          width: 766px;
          height: 612px;
        }

        &_production-card {
          width: 850px;
        }

        &_application {
          height: 550px;
        }

        &_documents {
          width: 1080px;
        }
      }
    }

    &__list {
      &_place {
        &_advantages {
          grid-template-columns: repeat(2, 500px);
          gap: 27px 10px;
        }

        &_advantages-card {
          grid-template-columns: repeat(2, 1fr);
          row-gap: 27px;
          column-gap: 50px;
        }

        &_documents {
          grid-template-columns: 500px;
          grid-auto-columns: 500px;
          gap: 50px 0;
        }
      }
    }

    &__arrows {
      width: 135px;

      &_place {
        &_team {
          top: -107px;
          right: 62px;
        }

        &_production-main {
          right: calc(766px - 100vw + 80px);
          top: -107px;
        }

        &_production-card {
          width: 850px;
          left: 76px;
        }

        &_documents {
          top: -120px;
        }
      }
    }

    &__arrow {
      width: 62px;
      height: 62px;
      background-size: 22px 26px;

      &--prev {
        &_place {
          &_production-card {
            background-position-x: 9px;
          }
        }
      }

      &--next {
        background-position-x: 24px;
        &_place {
          &_production-card {
            background-position-x: 12px;
          }
        }
      }

      &_place {
        &_production-card {
          width: 35px;
          height: 35px;
          background-size: 12px 14px;
        }
      }
    }
  }
}

@media all and (max-width: 1585px) {
  .splide {
    &_place {

      &_production-card {
        padding-left: 30px;
      }
    }

    &__arrows {
      &_place {

        &_production-card {
          left: 20px;
        }
      }
    }
  }
}


@media all and (max-width: 1536px) {
  .splide {

    &_place {
      &_products {
        margin-top: 50px;
      }

      &_team {
        width: 606px;
      }

      &_production-main {
        width: 613px;
        height: 489px;
      }

      &_production-card {
        margin-top: 52px;
        margin-left: -41px;
        height: 198px;
        padding-left: 68px;
        width: calc(100% + 41px);
        justify-content: space-between;
      }

      &_application {
        width: 786px;
        margin-top: 62px;
      }

      &_advantages {
        margin: 52px 0 0;
      }

      &_advantages-card {
        margin: 22px 0 0;
      }

      &_documents {
        margin: 48px 0 0;
      }

      &_card-menu {
        margin: 70px 135px 0;
        padding: 27px 55px;
      }

      &_application-card {
        margin: 45px 0 0;
      }
    }

    &__track {
      &_place {
        &_production-main {
          width: 613px;
          height: 489px;
        }

        &_production-card {
          width: 680px;
        }

        &_application {
          height: 413px;
        }

        &_documents {
          width: 860px;
        }
      }
    }

    &__list {
      &_place {
        &_advantages {
          grid-template-columns: repeat(2, 410px);
        }

        &_documents {
          grid-template-columns: 420px;
          grid-auto-columns: 420px;
          gap: 45px 0;
        }
      }
    }

    &__arrows {
      width: 109px;

      &_place {
        &_team {
          top: -85px;
          right: 50px;
        }

        &_production-main {
          right: calc(613px - 100vw + 68px);
          top: -86px;
        }

        &_production-card {
          width: 690px;
          left: 58px;
        }
      }
    }

    &__arrow {
      width: 50px;
      height: 50px;
      background-size: 18px 21px;

      &--next {
        background-position-x: 19px;

        &_place {
          &_production-card {
            background-position-x: 12px;
          }
        }
      }

      &--prev {
        background-position-x: 14px;

        &_place {
          &_production-card {
            background-position-x: 10px;
          }
        }
      }

      &_place {
        &_production-card {
          width: 35px;
          height: 35px;
          background-size: 12px 14px;
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .splide {

    &_place {
      &_team {
        width: 536px;
      }

      &_production-main {
        width: 482px;
        height: 384px;
      }

      &_production-card {
        width: 100%;
        justify-content: flex-start;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: 0;
      }

      &_documents {
        margin-top: 32px;
      }

      &_card-menu {
        margin: 60px 35px 0;
        padding: 27px 60px;
      }

      &_application-card {
        width: 70%;
        min-width: 458px;
        margin-left: auto;
        margin-top: 35px;
      }
    }

    &__track {
      &_place {
        &_production-main {
          width: 482px;
          height: 384px;
        }

        &_documents {
          width: 650px;
        }
      }
    }

    &__list {
      &_place {
        &_advantages {
          grid-template-columns: repeat(2, 350px);
        }

        &_products {
          gap: 20px;
        }

        &_documents {
          grid-template-columns: 280px;
          grid-auto-columns: 280px;
          gap: 45px 0;
        }

        &_application-card {
          grid-template-rows: repeat(2, auto);
          grid-auto-flow: column;
          gap: 25px 75px;
        }
      }
    }

    &__arrows {
      width: 74px;

      &_place {
        &_team {
          top: -68px;
        }

        &_production-main {
          right: calc(482px - 100vw + 50px);
          top: -67px;
        }

        &_production-card {
          width: 690px;
          left: 54px;
        }

        &_documents {
          top: -65px;
        }
      }
    }

    &__arrow {
      width: 35px;
      height: 35px;
      background-size: 12px 14px;

      &--next {
        background-position-x: 12px;

        &_place {
          &_production-card {
            background-position-x: 12px;
          }
        }
      }

      &--prev {
        background-position-x: 9px;

        &_production-card {
          background-position-x: 9px;
        }
      }
    }
  }
}


@media all and (max-width: 1000px) {
  .splide {

    &_place {
      &_products {
        margin-top: 30px;
      }

      &_team {
        width: 256px;
      }

      &_production {
        display: none;
      }

      &_production-card {
        margin-top: 32px;
        margin-left: 72px;
        justify-content: space-between;
        height: 178px;
        padding-left: 40px;
        width: calc(100% - 72px);
      }

      &_application {
        margin-top: 26px;
        width: 600px;
      }

      &_advantages {
        margin: 34px 0 0;
      }
    }

    &__track {
      &_place {
        &_production-card {
          width: 600px;
        }

        &_documents {
          width: 560px;
        }
      }
    }

    &__list {
      &_place {
        &_advantages {
          grid-template-columns: repeat(2, 260px);
          gap: 20px;
        }
      }
    }

    &__arrows {
      &_place {
        &_team {
          right: 0;
        }

        &_production-main {
          right: -32vw;
        }

        &_production-card {
          left: 25px;
          width: 630px;
        }

        &_documents {
          right: 18px;;
        }
      }
    }
  }
}

@media all and (max-width: 900px) {
  .splide {
    &__track {
      &_place {
        &_card-menu {
          margin: auto;
          width: 583px;
          overflow: hidden;
        }
      }
    }

    &__arrows {
      &_place {
        &_card-menu {
          top: 20px;
          margin: 0 -60px;
          width: 100%;

        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  .splide {
    &_place {
      &_card-menu {
        margin: 60px 20px 0;
        padding: 27px 45px;
      }

      &_advantages-card {
        margin-top: 30px;
        width: 510px;
      }
    }
    &__track {
      &_place {
        &_card-menu {
          width: 500px;
        }
      }
    }

    &__arrows {
      &_place {
        &_card-menu {
          margin: 0 -45px;
        }

        &_advantages-card {
          right: 0;
          top: -54px;
        }
      }
    }

    &__list {
      &_place {
        &_advantages-card {
          display: grid;
          grid-template-columns: repeat(2, 100%);
          column-gap: 0;
          row-gap: 25px;
        }
      }
    }
  }
}

@media all and (max-width: 750px) {
  .splide {

    &_place {
      &_products {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      &_production-main {
        width: 100%;
        height: 80%;
      }

      &_production-card {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        margin: 48px 0 0;
        width: 100%;
        box-shadow: none;
        grid-row-start: 5;
        grid-row-end: 6;
        padding-left: 40px;
      }

      &_application {
        margin-top: 36px;
        align-self: center;
        width: 260px;
      }

      &_advantages {
        margin: 27px 0 0;
        width: 520px;
        align-self: center;
      }

      &_documents {
        margin-top: 20px;
        width: 100%;
        align-self: flex-start;
      }
    }

    &__track {
      &_place {
        &_products {
          width: 280px;
          overflow:hidden;
          box-shadow: 0 0 15px 5px #f2f2f2;
          border-radius: 35px;
        }

        &_production-main {
          width: 100%;
          height: 80%;
        }

        &_production-card {
          height: auto;
          width: auto;
        }

        &_documents {
          width: 100%;
        }
      }
    }

    &__list {
      &_place {
        &_products {
          width: 100%;
        }

        &_production-card {
          flex-direction: column;
        }

        &_advantages {
          grid-template-columns: 260px;
          grid-template-rows: repeat(4, auto);
          grid-auto-flow: column;
          gap: 0;
        }

        &_documents {
          gap: 30px 0;
        }
      }
    }

    &__pagination {
      padding: 0;
      width: 40px;
      justify-content: space-between;

      &__page {
        padding: 0;
        margin: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: none;
        background-color: #52514e;

        &.is-active {
          background-color: #f3cd2b;
        }
      }
    }

    &__arrows {
      &_place {
        &_products {
          display: flex;
          width: 380px;
          top: 222px;
        }

        &_production-main {
          right: 0;
          top: 45%;
          width: 100%;
          padding: 0 8px 0;
          box-sizing: border-box;
        }

        &_application {
          right: -10px;
          top: 50%;
          width: 320px;
          padding: 0 8px 0;
          box-sizing: border-box;
        }

        &_advantages {
          width: 580px;
          right: -30px;
          top: 50%;
        }

        &_documents {
          top: -55px;
        }
      }
    }

    &__arrow {
      width: 35px;
      height: 35px;
      box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
      background-size: 12px 14px;

      &--prev {
        background-position-x: 9px;
      }

      &--next {
        background-position-x: 12px;
      }
    }
  }
}

@media all and (max-width: 640px) {
  .splide {
    &__track {
      &_place {
        &_card-menu {
          width: 345px;
        }
      }
    }
  }
}

@media all and (max-width: 605px) {
  .splide {
    &_place {
      &_advantages {
        width: 260px;
      }

      &_advantages-card {
        width: 280px;
        margin-top: 22px;
      }
    }

    &__list {
      &_place {
        &_application-card {
          column-gap: 50px;
        }

        &_advantages-card {
          row-gap: 15px;
        }
      }
    }

    &__arrows {
      &_place {
        &_advantages {
          width: 300px;
          right: -20px;
        }
      }
    }
  }
}

@media all and (max-width: 500px) {
  .splide {
    &_place {
      &_application-card {
        margin: 35px auto 0;
        min-width: auto;
        width: 220px;
        height: 300px;
      }
    }
    &__track {
      &_place {
        &_card-menu {
          width: 200px;
        }

        &_application-card {
          height: 300px;
        }
      }
    }

    &__arrows {
      &_place {
        &_application-card {
          width: 300px;
          right: -40px;
          top: 40%;
        }
      }
    }

    &__list {
      &_place {
        &_card-menu {
          grid-template-columns: repeat(5, 200px);
          gap: 0
        }

        &_application-card {
          display: grid;
          gap: 0;
        }
      }
    }
  }
}

@media all and (max-width: 425px) {
  .splide {

    &_place {


      &_production-card {
        padding: 0;
      }

      &_advantages-card {
        align-self: flex-start;
      }
    }

    &__arrows {
      &_place {
        &_products {
          width: 270px;
          top: 140px;
        }

        &_team {
          top: -75px;
          right: -16px;
        }

        &_application {
          right: -30px;
        }

        &_advantages-card {
          top: -47px;
        }
      }
    }
  }
}
