.splide {
  box-sizing: border-box;
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: grid;
}
.splide.is-initialized:not(.is-active) .splide__list .splide__list_place_advantages {
  display: grid;
}
.splide.is-initialized:not(.is-active) .splide__list .splide__list_place_application {
  display: grid;
}
.splide_place_products {
  margin: 70px 0 0;
  width: 100%;
}
.splide_place_team {
  width: 907px;
}
.splide_place_production-main {
  width: 919px;
  height: 734px;
}
.splide_place_production-card {
  width: calc(100% + 60px);
  max-width: 1163px;
  height: 300px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 84px 0 0 -60px;
  z-index: 2;
  padding: 0 0 0 102px;
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.splide_place_application {
  width: 1177px;
  height: auto;
  align-self: flex-end;
  margin-top: 93px;
}
.splide_place_advantages {
  margin: 80px 0 0;
  align-self: flex-end;
}
.splide_place_documents {
  margin: 80px 0 0;
  align-self: flex-end;
  width: 1800px;
}
.splide__track_place_products {
  box-sizing: border-box;
  width: 100%;
  overflow: visible;
}
.splide__track_place_production {
  width: 100%;
}
.splide__track_place_production-main {
  width: 919px;
  height: 734px;
  overflow: hidden;
}
.splide__track_place_production-card {
  width: 980px;
  overflow: hidden;
}
.splide__track_place_application {
  width: 100%;
  height: 700px;
}
.splide__track_place_documents {
  width: 100%;
}
.splide__arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: 160px;
  height: 0;
  overflow: visible;
}
.splide__arrows_place_products {
  display: none;
}
.splide__arrows_place_team {
  top: -127px;
  right: 75px;
}
.splide__arrows_place_production-main {
  right: calc(919px - 100vw + 93px);
  top: -127px;
}
.splide__arrows_place_production-card {
  width: 980px;
  left: 92px;
  top: 45%;
  z-index: 2;
}
.splide__arrow {
  margin: 0;
  padding: 0;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: 27px 31px;
  background-position-y: center;
}
.splide__arrow_place_production-card {
  width: 35px;
  height: 35px;
  background-size: 12px 14px;
}
.splide__arrow > svg {
  visibility: hidden;
}
.splide__arrow--prev {
  background-image: url(../../images/strelka-slaidera-2.svg);
  background-position-x: 17px;
}
.splide__arrow--prev_place_production-card {
  background-position-x: 9px;
}
.splide__arrow--next {
  background-image: url(../../images/strelka-slaidera.svg);
  background-position-x: 27px;
}
.splide__arrow--next_place_production-card {
  background-position-x: 12px;
}
.splide__arrow:disabled {
  background-color: #f0f0f0;
}
.splide__list_place_products {
  box-sizing: border-box;
  padding: 0;
  list-style-type: none;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.splide__list_place_application {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
}
.splide__list_place_advantages {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: auto;
  gap: 30px 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.splide__list_place_documents {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media all and (max-width: 1919px) {
  .splide_place_products {
    margin-top: 59px;
  }
  .splide_place_team {
    width: 756px;
  }
  .splide_place_production-main {
    width: 766px;
    height: 612px;
  }
  .splide_place_production-card {
    width: calc(100% + 52px);
    margin-top: 73px;
    height: 246px;
    padding-left: 86px;
    margin-left: -52px;
  }
  .splide_place_application {
    width: 975px;
    margin-top: 71px;
  }
  .splide_place_advantages {
    margin: 68px 0 0;
  }
  .splide__track_place_production-main {
    width: 766px;
    height: 612px;
  }
  .splide__track_place_production-card {
    width: 850px;
  }
  .splide__track_place_application {
    height: 550px;
  }
  .splide__list_place_advantages {
    grid-template-columns: repeat(2, 500px);
    gap: 27px 10px;
  }
  .splide__arrows {
    width: 135px;
  }
  .splide__arrows_place_team {
    top: -107px;
    right: 62px;
  }
  .splide__arrows_place_production-main {
    right: calc(766px - 100vw + 80px);
    top: -107px;
  }
  .splide__arrows_place_production-card {
    width: 850px;
    left: 76px;
  }
  .splide__arrow {
    width: 62px;
    height: 62px;
    background-size: 22px 26px;
  }
  .splide__arrow--prev_place_production-card {
    background-position-x: 9px;
  }
  .splide__arrow--next {
    background-position-x: 24px;
  }
  .splide__arrow--next_place_production-card {
    background-position-x: 12px;
  }
  .splide__arrow_place_production-card {
    width: 35px;
    height: 35px;
    background-size: 12px 14px;
  }
}
@media all and (max-width: 1585px) {
  .splide_place_production-card {
    padding-left: 30px;
  }
  .splide__arrows_place_production-card {
    left: 20px;
  }
}
@media all and (max-width: 1536px) {
  .splide_place_products {
    margin-top: 50px;
  }
  .splide_place_team {
    width: 606px;
  }
  .splide_place_production-main {
    width: 613px;
    height: 489px;
  }
  .splide_place_production-card {
    margin-top: 52px;
    margin-left: -41px;
    height: 198px;
    padding-left: 68px;
    width: calc(100% + 41px);
    justify-content: space-between;
  }
  .splide_place_application {
    width: 786px;
    margin-top: 62px;
  }
  .splide_place_advantages {
    margin: 52px 0 0;
  }
  .splide__track_place_production-main {
    width: 613px;
    height: 489px;
  }
  .splide__track_place_production-card {
    width: 680px;
  }
  .splide__track_place_application {
    height: 413px;
  }
  .splide__list_place_advantages {
    grid-template-columns: repeat(2, 410px);
  }
  .splide__arrows {
    width: 109px;
  }
  .splide__arrows_place_team {
    top: -85px;
    right: 50px;
  }
  .splide__arrows_place_production-main {
    right: calc(613px - 100vw + 68px);
    top: -86px;
  }
  .splide__arrows_place_production-card {
    width: 690px;
    left: 58px;
  }
  .splide__arrow {
    width: 50px;
    height: 50px;
    background-size: 18px 21px;
  }
  .splide__arrow--next {
    background-position-x: 19px;
  }
  .splide__arrow--next_place_production-card {
    background-position-x: 12px;
  }
  .splide__arrow--prev {
    background-position-x: 14px;
  }
  .splide__arrow--prev_place_production-card {
    background-position-x: 10px;
  }
  .splide__arrow_place_production-card {
    width: 35px;
    height: 35px;
    background-size: 12px 14px;
  }
}
@media all and (max-width: 1200px) {
  .splide_place_team {
    width: 536px;
  }
  .splide_place_production-main {
    width: 482px;
    height: 384px;
  }
  .splide_place_production-card {
    width: 100%;
    justify-content: flex-start;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 0;
  }
  .splide__track_place_production-main {
    width: 482px;
    height: 384px;
  }
  .splide__list_place_advantages {
    grid-template-columns: repeat(2, 350px);
  }
  .splide__list_place_products {
    gap: 20px;
  }
  .splide__arrows {
    width: 74px;
  }
  .splide__arrows_place_team {
    top: -68px;
  }
  .splide__arrows_place_production-main {
    right: calc(482px - 100vw + 50px);
    top: -67px;
  }
  .splide__arrows_place_production-card {
    width: 690px;
    left: 54px;
  }
  .splide__arrow {
    width: 35px;
    height: 35px;
    background-size: 12px 14px;
  }
  .splide__arrow--next {
    background-position-x: 12px;
  }
  .splide__arrow--next_place_production-card {
    background-position-x: 12px;
  }
  .splide__arrow--prev {
    background-position-x: 9px;
  }
  .splide__arrow--prev_production-card {
    background-position-x: 9px;
  }
}
@media all and (max-width: 1000px) {
  .splide_place_products {
    margin-top: 30px;
  }
  .splide_place_team {
    width: 256px;
  }
  .splide_place_production {
    display: none;
  }
  .splide_place_production-card {
    margin-top: 32px;
    margin-left: 72px;
    justify-content: space-between;
    height: 178px;
    padding-left: 40px;
    width: calc(100% - 72px);
  }
  .splide_place_application {
    margin-top: 26px;
    width: 600px;
  }
  .splide_place_advantages {
    margin: 34px 0 0;
  }
  .splide__track_place_production-card {
    width: 600px;
  }
  .splide__list_place_advantages {
    grid-template-columns: repeat(2, 260px);
    gap: 20px;
  }
  .splide__arrows_place_team {
    right: 0;
  }
  .splide__arrows_place_production-main {
    right: -32vw;
  }
  .splide__arrows_place_production-card {
    left: 25px;
    width: 630px;
  }
}
@media all and (max-width: 750px) {
  .splide_place_products {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .splide_place_production-main {
    width: 100%;
    height: 80%;
  }
  .splide_place_production-card {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    margin: 48px 0 0;
    width: 100%;
    box-shadow: none;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-left: 40px;
  }
  .splide_place_application {
    margin-top: 36px;
    align-self: center;
    width: 260px;
  }
  .splide_place_advantages {
    margin: 27px 0 0;
    width: 520px;
    align-self: center;
  }
  .splide__track_place_products {
    width: 280px;
    overflow: hidden;
    box-shadow: 0 0 15px 5px #f2f2f2;
    border-radius: 35px;
  }
  .splide__track_place_production-main {
    width: 100%;
    height: 80%;
  }
  .splide__track_place_production-card {
    height: auto;
    width: auto;
  }
  .splide__list_place_products {
    width: 100%;
  }
  .splide__list_place_production-card {
    flex-direction: column;
  }
  .splide__list_place_advantages {
    grid-template-columns: 260px;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    gap: 0;
  }
  .splide__pagination {
    padding: 0;
    width: 40px;
    justify-content: space-between;
  }
  .splide__pagination__page {
    padding: 0;
    margin: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: none;
    background-color: #52514e;
  }
  .splide__pagination__page.is-active {
    background-color: #f3cd2b;
  }
  .splide__arrows_place_products {
    display: flex;
    width: 380px;
    top: 222px;
  }
  .splide__arrows_place_production-main {
    right: 0;
    top: 45%;
    width: 100%;
    padding: 0 8px 0;
    box-sizing: border-box;
  }
  .splide__arrows_place_application {
    right: -10px;
    top: 50%;
    width: 320px;
    padding: 0 8px 0;
    box-sizing: border-box;
  }
  .splide__arrows_place_advantages {
    width: 580px;
    right: -30px;
    top: 50%;
  }
  .splide__arrow {
    width: 35px;
    height: 35px;
    box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
    background-size: 12px 14px;
  }
  .splide__arrow--prev {
    background-position-x: 9px;
  }
  .splide__arrow--next {
    background-position-x: 12px;
  }
}
@media all and (max-width: 605px) {
  .splide_place_advantages {
    width: 260px;
  }
  .splide__arrows_place_advantages {
    width: 300px;
    right: -20px;
  }
}
@media all and (max-width: 425px) {
  .splide_place_production-card {
    padding: 0;
  }
  .splide__arrows_place_products {
    width: 270px;
    top: 140px;
  }
  .splide__arrows_place_team {
    top: -75px;
    right: -16px;
  }
  .splide__arrows_place_application {
    right: -30px;
  }
}
/*# sourceMappingURL=splide.css.map */