.splide {

  margin: 70px 0 0;
  width: 100%;

  &__track {
    width: 100%;
    overflow:visible;
  }

  &__arrows {
    display: none;
  }

  &__list {
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__slide {
    max-width: 550px;
    width: 31% !important;
    background-color: #fff;
    box-shadow: 0 0 15px 5px #f2f2f2;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 55px 72px 59px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-weight: normal;
      min-height: 72px;
      margin: 0;
      text-align: center;
      font-size: 26px;
      line-height: 36px;
      letter-spacing: .05em;
    }

    &-img {
      height: 251px;
      width: 348px;
      margin: 68px 0 80px;
    }

    &-description {
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: .05em;
      margin: 0 0 30px;
      height: 162px;
      overflow: hidden;
      position: relative;
    //  text-align:justify;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 15px;
        background: linear-gradient(180deg, transparent, #fff 60%);
      }
    }
  }
}

@media all and (max-width: 1919px) {
  .splide {
    width: 100%;
    margin-top: 59px;

    &__slide {
      border-radius: 90px;
      padding: 45px 60px;

      &-title {
        font-size: 22px;
        letter-spacing: .05em;
        line-height: 30px;
        min-height: 60px;
      }

      &-img {
        width: 290px;
        height: 209px;
        margin: 58px 0 64px;
      }

      &-description {
        font-size: 16px;
        height: 144px;
        margin-bottom: 27px;

        &:after {
          height: 11px;
        }
      }
    }
  }
}


@media all and (max-width: 1536px) {
  .splide {
    margin-top: 50px;

    &__slide {
      border-radius: 70px;
      padding: 33px 40px 40px;

      &-title {
        font-size: 18px;
        line-height: 24px;
        min-height: 48px;
      }

      &-img {
        width: 231px;
        height: 168px;
        margin: 48px 0 53px;
      }

      &-description {
        font-size: 14px;
        letter-spacing: .065em;
        height: 126px;
        margin-bottom: 23px;

        &:after {
          height: 11px;
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .splide {

    &__slide {
      border-radius: 45px;
      padding: 26px 30px 32px;

      &-title {
        font-size: 16px;
        line-height: 18px;
        height: 32px;
      }

      &-img {
        width: 176px;
        height: 128px;
        margin: 15px 0 28px;
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .splide {
    margin-top: 30px;

    &__slide {
      margin-right: 5px;
      width: 32%;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 35px;

      &:last-of-type {
        margin-right: 0;
      }

      &-title {
        font-size: 14px;
      }

      &-description {
        font-size: 12px;
        height: 108px;
        margin-bottom: 20px;

        &:after {
          height: 10px;
        }
      }
    }
  }
}

@media all and (max-width: 750px) {
  .splide {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__track {
      width: 280px;
      overflow:hidden;
      box-shadow: 0 0 15px 5px #f2f2f2;
      border-radius: 35px;
    }

    &__list {
      width: auto;
    }

    &__slide {
    //  width: calc(100% - 30px) !important;
      width: 100% !important;
      box-shadow: none;
      border-radius: none;
      margin: 0;
    }

    &__pagination {
      padding: 0;
      width: 40px;
      justify-content: space-between;

      &__page {
        padding: 0;
        margin: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: none;
        background-color: #52514e;

        &.is-active {
          background-color: #f3cd2b;
        }
      }
    }

    &__arrows {
      display: block;
      position: absolute;
      width: 380px;
      display: flex;
      justify-content: space-between;
      top: 222px;
      z-index: 2;
    }

    &__arrow {
      margin: 0;
      padding: 0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      background-color: #fff;
      box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
      background-repeat: no-repeat;
      background-size: 12px 14px;
      background-position-y: center;

      & > svg {
        visibility: hidden;
      }

      &--prev {
        background-image: url(../../images/strelka-slaidera-2.svg);
        background-position-x: 9px;
      }

      &--next {
        background-image: url(../../images/strelka-slaidera.svg);
        background-position-x: 12px;
      }

      &:disabled {
        background-color: #f0f0f0;
      }
    }
  }
}

@media all and (max-width: 425px) {
  .splide {
    &__arrows {
      width: 270px;
      top: 140px;
    }
  }
}