.splide {
  box-sizing: border-box;

  &_place {
    &_products {
      margin: 70px 0 0;
      width: 100%;
    }

    &_team {
      width: 907px;
    }

    &_production-main {
      width: 919px;
      height: 734px;
    }

/*    &_production {
      width: 432px;
      height: 734px;
      overflow: hidden;
    }*/
  }

  &__track {
    &_place {
      &_products {
        box-sizing: border-box;
        width: 100%;
        overflow:visible;
      }

      &_production {
        width: 100%;
      }

      &_production-main {
        width: 919px;
        height: 734px;
        overflow: hidden;
      }
    }
  }

  &__arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 160px;

    &_place {
      &_products {
        display: none;
      }

      &_team {
        top: -127px;
        right: 75px;
      }

      &_production-main {
        right: calc(919px - 100vw + 93px);
        top: -127px;
      }
    }
  }

  &__arrow {
    margin: 0;
    padding: 0;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: 27px 31px;
    background-position-y: center;

    & > svg {
      visibility: hidden;
    }

    &--prev {
      background-image: url(../../images/strelka-slaidera-2.svg);
      background-position-x: 17px;
    }

    &--next {
      background-image: url(../../images/strelka-slaidera.svg);
      background-position-x: 27px;
    }

    &:disabled {
      background-color: #f0f0f0;
    }
  }

  &__list {
    &_place {
      &_products {
        box-sizing: border-box;
        padding: 0;
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

    /*  &_production {
        display: flex;
        flex-direction: column;
      }*/
    }
  }
}

@media all and (max-width: 1919px) {
  .splide {

    &_place {
      &_products {
        margin-top: 59px;
      }

      &_team {
        width: 756px;
      }

      &_production-main {
        width: 766px;
        height: 612px;
      }
    }

    &__track {
      &_place {
        &_production-main {
          width: 766px;
          height: 612px;
        }
      }
    }

    &__arrows {
      width: 135px;

      &_place {
        &_team {
          top: -107px;
          right: 62px;
        }

        &_production-main {
          right: calc(766px - 100vw + 80px);
          top: -107px;
        }
      }
    }

    &__arrow {
      width: 62px;
      height: 62px;
      background-size: 22px 26px;

      &--next {
        background-position-x: 24px;
      }
    }
  }
}


@media all and (max-width: 1536px) {
  .splide {

    &_place {
      &_products {
        margin-top: 50px;
      }

      &_team {
        width: 606px;
      }

      &_production-main {
        width: 613px;
        height: 489px;
      }
    }

    &__track {
      &_place {
        &_production-main {
          width: 613px;
          height: 489px;
        }
      }
    }

    &__arrows {
      width: 109px;

      &_place {
        &_team {
          top: -85px;
          right: 50px;
        }

        &_production-main {
          right: calc(613px - 100vw + 68px);
          top: -86px;
        }
      }
    }

    &__arrow {
      width: 50px;
      height: 50px;
      background-size: 18px 21px;

      &--next {
        background-position-x: 19px;
      }

      &--prev {
        background-position-x: 14px;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .splide {

    &_place {
      &_team {
        width: 536px;
      }

      &_production-main {
        width: 482px;
        height: 384px;
      }
    }

    &__track {
      &_place {
        &_production-main {
          width: 482px;
          height: 384px;
        }
      }
    }

    &__arrows {
      width: 74px;

      &_place {
        &_team {
          top: -68px;
        }

        &_production-main {
          right: calc(482px - 100vw + 50px);
          top: -67px;
        }
      }
    }

    &__arrow {
      width: 35px;
      height: 35px;
      background-size: 12px 14px;

      &--next {
        background-position-x: 12px;
      }

      &--prev {
        background-position-x: 9px;
      }
    }
  }
}


@media all and (max-width: 1000px) {
  .splide {

    &_place {
      &_products {
        margin-top: 30px;
      }

      &_team {
        width: 256px;
      }

      &_production {
        display: none;
      }
    }

    &__arrows {
      &_place {
        &_team {
          right: 0;
        }

        &_production-main {
          right: -32vw;
        }
      }
    }
  }
}

@media all and (max-width: 750px) {
  .splide {

    &_place {
      &_products {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      &_production-main {
        width: 100%;
        height: 80%;
      }
    }

    &__track {
      &_place {
        &_products {
          width: 280px;
          overflow:hidden;
          box-shadow: 0 0 15px 5px #f2f2f2;
          border-radius: 35px;
        }

        &_production-main {
          width: 100%;
          height: 80%;
        }
      }
    }

    &__list {
      &_place {
        &_products {
          width: 100%;
        }
      }
    }

    &__pagination {
      padding: 0;
      width: 40px;
      justify-content: space-between;

      &__page {
        padding: 0;
        margin: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: none;
        background-color: #52514e;

        &.is-active {
          background-color: #f3cd2b;
        }
      }
    }

    &__arrows {
      &_place {
        &_products {
          display: flex;
          width: 380px;
          top: 222px;
        }

        &_production-main {
          right: 0;
          top: 45%;
          width: 100%;
          padding: 0 8px 0;
          box-sizing: border-box;
        }
      }
    }

    &__arrow {
      width: 35px;
      height: 35px;
      box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
      background-size: 12px 14px;

      &--prev {
        background-position-x: 9px;
      }

      &--next {
        background-position-x: 12px;
      }
    }
  }
}

@media all and (max-width: 425px) {
  .splide {
    &__arrows {
      &_place {
        &_products {
          width: 270px;
          top: 140px;
        }

        &_team {
          top: -75px;
          right: -16px;
        }
      }
    }
  }
}