.splide {
  box-sizing: border-box;

  &_place {
    &_products {
      margin: 70px 0 0;
      width: 100%;
    }
  }

  &__track {
    &_place {
      &_products {
        box-sizing: border-box;
        width: 100%;
        overflow:visible;
      }
    }
  }

  &__arrows {
    display: none;
  }

  &__list {
    &_place {
      &_products {
        box-sizing: border-box;
        padding: 0;
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}

@media all and (max-width: 1919px) {
  .splide {

    &_place {
      &_products {
        margin-top: 59px;
      }
    }
  }
}


@media all and (max-width: 1536px) {
  .splide {

    &_place {
      &_products {
        margin-top: 50px;
      }
    }
  }
}


@media all and (max-width: 1000px) {
  .splide {

    &_place {
      &_products {
        margin-top: 30px;
      }
    }

  }
}

@media all and (max-width: 750px) {
  .splide {

    &_place {
      &_products {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    &__track {
      &_place {
        &_products {
          width: 280px;
          overflow:hidden;
          box-shadow: 0 0 15px 5px #f2f2f2;
          border-radius: 35px;
        }
      }
    }

    &__list {
      &_place {
        &_products {
          width: 100%;
        }
      }
    }

    &__pagination {
      padding: 0;
      width: 40px;
      justify-content: space-between;

      &__page {
        padding: 0;
        margin: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: none;
        background-color: #52514e;

        &.is-active {
          background-color: #f3cd2b;
        }
      }
    }

    &__arrows {
      display: block;
      position: absolute;
      width: 380px;
      display: flex;
      justify-content: space-between;
      top: 222px;
      z-index: 2;
    }

    &__arrow {
      margin: 0;
      padding: 0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      background-color: #fff;
      box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
      background-repeat: no-repeat;
      background-size: 12px 14px;
      background-position-y: center;

      & > svg {
        visibility: hidden;
      }

      &--prev {
        background-image: url(../../images/strelka-slaidera-2.svg);
        background-position-x: 9px;
      }

      &--next {
        background-image: url(../../images/strelka-slaidera.svg);
        background-position-x: 12px;
      }

      &:disabled {
        background-color: #f0f0f0;
      }
    }
  }
}

@media all and (max-width: 425px) {
  .splide {
    &__arrows {
      width: 270px;
      top: 140px;
    }
  }
}