.calculation {
  padding: 20px 240px 0 188px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  &__subtitle {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
  }
}

@media all and (max-width: 1919px) {
  .calculation {
    padding: 48px 277px 0 158px;

    &__subtitle {
      font-size: 30px;
    }
  }
}

@media all and (max-width: 1536px) {
  .calculation {
    padding: 62px 215px 0 122px;

    &__subtitle {
      font-size: 25px;
    }
  }
}

@media all and (max-width: 1200px) {
  .calculation {
    padding: 62px 100px 0 73px;

    &__subtitle {
      font-size: 20px;
    }
  }
}

@media all and (max-width: 750px) {
  .calculation {
    padding: 70px 18px 0;
  }
}

@media all and (max-width: 425px) {
  .calculation {
    padding-top: 16px;

    &__subtitle {
      font-size: 16px;
      line-height: 1.2;
      margin-top: 5px;
    }
  }
}