.face-menu {
  margin: 48px 200px 0;
  height: 100px;
  background-color: RGBA(252, 252, 252, 1);
  border-radius: 50px;
  display: flex;
  list-style-type: none;
  border-color: #000;
  padding: 0;

  &__item {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;

    &_active {
      font-weight: bold;
      border-radius: 50px;
      background-color: #fff;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
      cursor: default;
    }
  }
}

@media all and (max-width: 1919px) {
  .face-menu {
    margin: 37px 160px 0;
    height: 85px;
    border-radius: 42px;

    &__item {
      font-size: 20px;
      letter-spacing: .06em;

      &_active {
        border-radius: 42px;
      }
    }
  }
}

@media all and (max-width: 1536px) {
  .face-menu {
    margin: 25px 126px 0;
    height: 68px;
    border-radius: 34px;

    &__item {
      font-size: 16px;
      letter-spacing: .05em;

      &_active {
        border-radius: 34px;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .face-menu {
    margin: 23px 35px 0;
    height: 54px;
    border-radius: 27px;

    &__item {

      &_active {
        border-radius: 27px;
      }
    }
  }
}

@media all and (max-width: 750px) {
  .face-menu {
    margin: 26px 20px 0;
  }
}

@media all and (max-width: 500px) {
  .face-menu {
    flex-direction: column;
    border-radius: 37px;
    height: auto;

    &__item {
      width: 100%;
      height: 75px;

      &_active {
        border-radius: 37px;
      }
    }
  }
}