.button-yellow {
  margin: 0;
  padding: 0 45px 0;
  border: none;
  background-color: #f3cd2b;
  font-size: 16px;
  letter-spacing: .05em;
  height: 60px;
  border-radius: 60px;
  text-transform: uppercase;

  &_place {
    &_first-line {
      display: none;
    }

    &_product {
      margin-top: auto;
    }
  }
}

@media all and (max-width: 1919px) {
  .button-yellow {
    font-size: 14px;
    height: 50px;
    padding: 3px 35px 0;
  }
}

@media all and (max-width: 1536px) {
  .button-yellow {
    height: 39px;
    padding: 0 16px;
  }
}

@media all and (max-width: 1200px) {
  .button-yellow {
    display: none;
    width: 190px;

    &_place {
      &_first-line {
        display: block;
      }

      &_product {
        display: block;
      }

      &_questions {
        display: block;
      }
    }
  }
}

@media all and (max-width: 750px) {
  .button-yellow {
    display: block;

    &_place_first-line {
      display: none;
    }
  }
}
