.button-yellow {
  margin: 0;
  padding: 0 45px 0;
  border: none;
  background-color: #f3cd2b;
  font-size: 16px;
  letter-spacing: .05em;
  height: 60px;
  border-radius: 60px;
  text-transform: uppercase;
  box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);

  &_color {
    &_white {
      background-color: #fff;
      margin-left: 50px;
    }
  }

  &_place {
    &_first-line {
      display: none;
    }

    &_product {
      margin-top: auto;
    }

    &_production-card {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
      height: 73px;
      margin-top: 47px;
      padding: 0 70px 5px;
      font-size: 24px;
      letter-spacing: .05em;
    }

    &_size {
      background-color: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      height: 58px;
      align-self: center;
      margin-top: 30px;
    }

    &_about-production {
      display: none;
    }
  }
}

@media all and (max-width: 1919px) {
  .button-yellow {
    font-size: 14px;
    height: 50px;
    padding: 3px 35px 0;

    &_place {
      &_production-card {
        height: 61px;
        margin-top: 39px;
        padding: 0 57px 5px;
        font-size: 20px;
        letter-spacing: .07em;
      }

      &_size {
        margin-top: 23px;
      }
    }

    &_color {
      &_white {
        margin-left: 30px;
      }
    }
  }
}

@media all and (max-width: 1536px) {
  .button-yellow {
    height: 39px;
    padding: 0 16px;

    &_place {
      &_production-card {
        height: 49px;
        margin-top: 34px;
        padding: 0 42px 2px;
        font-size: 18px;
        letter-spacing: .01em;
      }

      &_size {
        margin-top: 13px;
        letter-spacing: .01em;
        font-size: 13px;
        padding: 0 22px;
      }
    }

    &_color {
      &_white {
        margin-left: 15px;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .button-yellow {
    width: 190px;

    &_color {
      &_white {
        padding: 0 26px;
        width: auto;
      }
    }

    &_place {
      &_first-line {
        display: block;
      }

      &_second-line {
        display: none;
      }

      &_size {
        width: auto;
      }

      &_card {
        width: auto;
        padding: 0 26px;
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .button-yellow {

    &_color {
      &_white {
        width: 100%;
        margin: 24px 0 0;
      }
    }

    &_place {

      &_production-card {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        height: 38px;
        font-size: 14px;
        padding: 0;
        width: 140px;
      }

      &_size {
        margin-top: 22px;
        font-size: 14px;
        letter-spacing: .06em;
        height: 34px;
      }
    }
  }
}

@media all and (max-width: 750px) {
.button-yellow {
    display: block;

    &_place {
      &_first-line {
        display: none;
      }

      &_production-card {
        margin-top: 10px;
      }

      &_about-production {
        display: none;
      }
    }
  }
}

@media all and (max-width: 425px) {
  .button-yellow {

    &_place {
      &_production-card {
        margin-top: 25px;
      }

      &_about-production {
        display: block;
        align-self: center;
        margin-top: 20px;

        &_hidden {
          display: none;
        }
      }
    }
  }
}
