.properties {
  padding: 80px 360px 0 280px;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 520px;
    margin-top: 43px;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    margin-top: 50px;
    &:first-of-type {
      margin-top: 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: .05em;
    margin: 0;
    width: 50%;
  }

  &__value {
    font-size: 18px;
    letter-spacing: .05em;
    margin: 0;
  }
}

@media all and (max-width: 1919px) {
  .properties {
    padding: 65px 310px 0 240px;

    &__container {
      width: 430px;
      margin-top: 35px;
    }

    &__item {
      margin-top: 45px;
    }

    &__title {
      font-size: 14px;
      letter-spacing: .1em;
    }

    &__value {
      font-size: 14px;
      letter-spacing: .1em;
    }
  }
}

@media all and (max-width: 1536px) {
  .properties {
    padding: 51px 244px 0 190px;

    &__container {
      grid-template-rows: 48px;
      width: 350px;
      margin-top: 25px;
    }

    &__item {
      margin-top: 35px;
    }

    &__title {
      font-size: 12px;
      letter-spacing: .05em;
    }

    &__value {
      font-size: 12px;
      letter-spacing: .05em;
    }
  }
}

@media all and (max-width: 1200px) {
  .properties {
    padding: 72px 82px 0 72px;

    &__container {
      grid-template-rows: 45px;
      width: 350px;
      margin-top: 34px;
    }

    &__item {
      margin-top: 30px;
    }

    &__title {
      font-size: 14px;
      letter-spacing: .05em;
    }

    &__value {
      font-size: 14px;
      letter-spacing: .05em;
    }
  }
}

@media all and (max-width: 750px) {
  .properties {
    padding: 35px 20px 0;

    &__container {
      grid-template-columns: 1fr;
      grid-template-rows: 22px;
      width: 100%;
      margin-top: 25px;
    }

    &__item {
      flex-direction: column;
      margin-top: 15px;
    }

    &__title {
      margin-bottom: 8px;
    }
  }
}