.properties {
  padding: 85px 250px 0 280px;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 630px;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    margin-top: 44px;
    &:first-of-type {
      margin-top: 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: .05em;
    margin: 0;
    line-height: 1.55;
  }

  &__value {
    width: 370px;
    font-size: 18px;
    letter-spacing: .05em;
    margin: 0;
    margin-left: auto;
  }
}

@media all and (max-width: 1919px) {
  .properties {
    padding: 65px 210px 0 240px;

    &__container {
      width: 530px;
      margin-top: 33px;
    }

    &__item {
      margin-top: 36px;
    }

    &__title {
      font-size: 14px;
      letter-spacing: .1em;
      line-height: 1.65;
    }

    &__value {
      font-size: 14px;
      letter-spacing: .1em;
      width: 315px;
    }
  }
}

@media all and (max-width: 1536px) {
  .properties {
    padding: 50px 165px 0 190px;

    &__container {
      width: 430px;
      margin-top: 20px;
    }

    &__item {
      margin-top: 30px;
    }

    &__title {
      font-size: 12px;
      letter-spacing: .05em;
    }

    &__value {
      font-size: 12px;
      letter-spacing: .05em;
      width: 260px;
    }
  }
}

@media all and (max-width: 1200px) {
  .properties {
    padding: 70px 55px 0 72px;

    &__container {
      width: 375px;
      margin-top: 32px;
    }

    &__item {
      margin-top: 25px;
    }

    &__title {
      font-size: 14px;
      letter-spacing: .05em;
      max-width: 150px;
      line-height: 1.4;
    }

    &__value {
      font-size: 14px;
      letter-spacing: .05em;
      width: 200px;
      line-height: 1.4;
    }
  }
}

@media all and (max-width: 750px) {
  .properties {
    padding: 35px 20px 5px;

    &__container {
      width: 100%;
      margin-top: 25px;
    }

    &__item {
      flex-direction: column;
      margin-top: 20px;
    }

    &__title {
      margin-bottom: 8px;
      max-width: 100%;
      line-height: 1;
    }

    &__value {
      width: auto;
      margin-left: 0;
      line-height: 1;
    }
  }
}